{% extends "base.twig" %}

{% block content %}
	<h1>{{ site.translate('The page you were looking for is not found') }}</h1>
	<p>{{ site.translate('This page might be deleted or moved somewhere else. Make sure the address is correct and try again!') }}</p>
	<p>
		<a href="{{ site.link }}">{{ site.translate('Go to frontpage') }}</a>
	</p>
{% endblock %}