{% extends "base.twig" %}
{% block content %}
	<section>
		{% for post in posts %}
			{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
		{% else %}
			<p>{{ site.translate('There are no articles to show in this category.') }}</p>
		{% endfor %}
		{% include 'parts/pagination.twig' %}
	</section>
{% endblock %}