{% extends "base.twig" %}

{% block content %}
	<section>
		<div class="row no-margin padding-gutter flex">
			{% for post in posts %}
				<div class="col-xs-24 col-m-8">
					{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
				</div>
			{% else %}
				<div class="col-xs-24">
					<h3>{{ site.translate('There are no upcoming events') }}</h3>
				</div>
			{% endfor %}
		</div>
		{% if old_posts %}
		<h3 class="h1">{{ site.translate('Past events') }}</h3>
		<div class="row no-margin padding-gutter flex">
			{% for post in old_posts %}
				<div class="col-xs-24 col-m-8">
					{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
				</div>
			{% endfor %}
		</div>
		{% endif %}
	</section>
{% endblock %}