{% block html_head_container %}
{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

		{% block page_top %}
			<div id="page-top" class="secondary-bg from-m">
				<div class="wrapper cf">
					<div class="flex flex-middle">
						<div class="page-top-content-right">
							{{ site.get_widgetarea('header-content') }}
						</div>
						{% do action('header_login_buttons') %}
					</div>
				</div>
			</div>
		{% endblock %}

		<header id="header">
			<div class="wrapper overflowing">
				{% block header %}
					<div class="flex flex-middle">
						<div class="header-left">
							<a href="{{ site.url }}" id="logo">
								<img src="{{ theme.link }}/assets/img/logo.png" alt="{{site.name}}">
							</a>
						</div>
						{# Jätetään tää defaulttina vielä poikkee
						<div class="header-middle">
							<div class="language-navigation">
								{{ site.get_language_navigation('horizontal', 2) }}
							</div>
						</div>
						#}
						<div class="header-right">
							<div class="from-l">
								{% do action('header_mini_cart') %}
								{{ site.searchform() }}
							</div>
							<button class="open-mobile-nav toggle-mobilenav to-l"><span class="button-text">{{ site.translate('Menu') }}</span> <span class="mobile-nav-button-html"><span class="mobilenav-button-lines top"></span><span class="mobilenav-button-lines middle"></span><span class="mobilenav-button-lines bottom"></span></span></button>
						</div>
					</div>
				{% endblock %}
			</div>
			<div class="white-bg from-l">
				<div class="wrapper overflowing">
					<nav id="main" class="horizontal dropdown">
						{{ menu_main.render_navigation(3) }}
					</nav>
				</div>
			</div>
		</header>

		{% block after_header %}
			{% if post.top_bg_image or theme_header_image %}
				<div id="main-image-container">
					<div class="wrapper wide no-padding">
						{% if post.top_bg_image %}
							<img src="{{ post.top_bg_image|image|resize(2560) }}" alt="{{ post.title }}">
						{% else %}
							<img class="placeholder" src="{{ theme_header_image }}" alt="{{ post.title }}">
						{% endif %}
					</div>
				</div>
			{% endif %}
		{% endblock %}

		<div id="outer-content-area-container">
			<div class="wrapper">

				{% block body %}
					<div class="row no-margin padding-gutter double-gutter">

						{% block leftaside %}
							<div class="col-l-7 col-xl-6 from-l">
								<aside id="sidebar" class="content-padding">

									{% if sub_menu_html %}
										<div class="sub-navigation">
											{% if menu_main.selected_item.title %}
												<a href="{{ menu_main.selected_item.url }}"><h2>{{ menu_main.selected_item.title }}</h2></a>
											{% endif %}
											{{ sub_menu_html }}
										</div>
									{% endif %}

									{{ site.get_widgetarea('sidebar') }}

									{% if shop_sidebar %}
										{# kaupan sivupalkki #}
										{{ shop_sidebar }}
									{% endif %}

								</aside>
							</div>
						{% endblock %}
						
						<div class="col-xs-24 col-l-17 col-xl-18">
							<div role="main" id="main-content-area" class="content-padding">
								{% if not post.password_required %}
									{% block maincontentarea %}
									
										{% if title %}<h1>{{title}}</h1>{% endif %}
										{% block content %}
												
										{% endblock %}

									{% endblock %}
								{% else %}
								    <div class="password-required-form-container">
								        {{ fn('get_the_password_form') }}
								    </div>
								{% endif %}
							</div>
						</div>

					</div>		
				{% endblock %}

			</div>

			{% block after_body_wrapper %}
			{% endblock %}

		</div>

		{% block before_footer %}
		{% endblock %}

		{% block footer %}
			<footer id="footer" class="secondary-bg">
				<div class="wrapper">
					<div class="content-padding">
						<div class="footer-content cf">
							<div class="from-m-float-left">
								{{ site.get_widgetarea('footer-content') }}
							</div>
							<div class="from-m-float-right">
								{{ site.get_widgetarea('some') }}
							</div>
						</div>
						<hr>
						<div id="copyright">
							Copyright 2019 {{site.name}} | 
							<a href="https://www.planeetta.fi" title="Planeetta Internet" target="_blank">{{ site.translate('Search engine optimized webpages and web presence management Planeetta Internet') }}</a>
						</div>
					</div>
				</div>
			</footer>
		{% endblock %}		

		{#% include 'navigation/fixed-menu.twig' %#}
		{% include 'navigation/mobilenav.twig' %}
		
		{{ function('wp_footer') }}

	</body>
</html>