{% extends "base.twig" %}
{% block content %}
	<section>
		{% for post in posts %}
			{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
		{% else %}
			<h1>{{ site.translate('Nothing found') }}</h1>
			<p>{{ site.translate("Unfortunately we couldn't find what you're searching for. Please try another search phrase.") }}</p>
			{% include 'searchform.twig' %}
		{% endfor %}
	</section>
{% endblock %}