{% extends "base.twig" %}

{% block after_header %}
	{% include 'module/slider_module.twig' %}
{% endblock %}

{% block body %}
	
	<div role="main" class="white content-padding" id="main-content-area">
		<div class="content-wrapper">
			
			<article>
				{{ post.content }}
			</article>
			
		</div>
	</div>

{% endblock %}

{% block after_body_wrapper %}
	{% if post.cmb_service_box_top_content or post.cmb_service_group or post.cmb_service_box_bottom_content %}
		<div id="frontpage_service_boxes_container">
			<div class="content-padding text-center">
				{% if post.cmb_service_box_top_content %}
					<div class="wrapper narrow">
						{{ post.cmb_service_box_top_content|wysiwyg }}
					</div>
				{% endif %}
				{% if post.cmb_service_group %}
				{# <!-- Palvelunostot --> #}
				<div class="wrapper">
					<div class="service-boxes">
						<div class="row no-margin padding-gutter flex flex-center">
							{% for service_box in post.cmb_service_group %}
								
								{% if service_box.cmb_service_box_content_1 %}
									<div class="col-xs-24 col-m-12 col-l-8">
										{% if service_box.cmb_service_box_image_1 %}
											<div class="services-lift-box-image-container bg-cover" style="background-image:url({{ service_box.cmb_service_box_image_1|image|resize(400,0) }});"></div>
										{% endif %}
										<div class="services-lift-box-content">
											{{ service_box.cmb_service_box_content_1|wysiwyg }}
										</div>
									</div>
								{% endif %}

								{% if service_box.cmb_service_box_content_2 %}
									<div class="col-xs-24 col-m-12 col-l-8">
										{% if service_box.cmb_service_box_image_2 %}
											<div class="services-lift-box-image-container bg-cover" style="background-image:url({{ service_box.cmb_service_box_image_2|image|resize(400,0) }});"></div>
										{% endif %}
										<div class="services-lift-box-content">
											{{ service_box.cmb_service_box_content_2|wysiwyg }}
										</div>
									</div>
								{% endif %}

								{% if service_box.cmb_service_box_content_3 %}
									<div class="col-xs-24 col-m-12 col-l-8">
										{% if service_box.cmb_service_box_image_3 %}
											<div class="services-lift-box-image-container bg-cover" style="background-image:url({{ service_box.cmb_service_box_image_3|image|resize(400,0) }});"></div>
										{% endif %}
										<div class="services-lift-box-content">
											{{ service_box.cmb_service_box_content_3|wysiwyg }}
										</div>
									</div>
								{% endif %}

							{% endfor %}
						</div>
					</div>
				</div>
				{% endif %}
				{% if post.cmb_service_box_bottom_content %}
				<div class="wrapper narrow">
					{{ post.cmb_service_box_bottom_content|wysiwyg }}
				</div>
				{% endif %}
			</div>
		</div>
	{% endif %}
{% endblock %}