{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}} article-content" id="post-{{post.ID}}">
		
		{% include "parts/page-thumbnail.twig" %}

		<div class="article-body">
			{% block main_container %}
				{{post.content}}
			{% endblock %}

			{% if post.cmb_service_group or post.cmb_service_box_bottom_content %}
				<div id="subpage_service_boxes_container">
					{% if post.cmb_service_group %}
					{# <!-- Palstat --> #}
					<div class="service-boxes">
						<div class="row no-margin padding-gutter flex flex-center">
							{% for service_box in post.cmb_service_group %}
								
								{% if service_box.cmb_service_box_content_1 %}
									<div class="col-xs-24 col-m-12">
										{% if service_box.cmb_service_box_image_1 %}
											<div class="services-lift-box-image-container">
												<span class="services-lift-box-image-elm" style="background-image:url({{ service_box.cmb_service_box_image_1|image }});"></span>
											</div>
										{% endif %}
										<div class="services-lift-box-content">
											{{ service_box.cmb_service_box_content_1|wysiwyg }}
										</div>
									</div>
								{% endif %}

								{% if service_box.cmb_service_box_content_2 %}
									<div class="col-xs-24 col-m-12">
										{% if service_box.cmb_service_box_image_2 %}
											<div class="services-lift-box-image-container">
												<span class="services-lift-box-image-elm" style="background-image:url({{ service_box.cmb_service_box_image_2|image }});"></span>
											</div>
										{% endif %}
										<div class="services-lift-box-content">
											{{ service_box.cmb_service_box_content_2|wysiwyg }}
										</div>
									</div>
								{% endif %}

							{% endfor %}
						</div>
					</div>
					{% endif %}
					{% if post.cmb_service_box_bottom_content %}
						{{ post.cmb_service_box_bottom_content|wysiwyg }}
					{% endif %}
				</div>
			{% endif %}

		</div>
	</article>
{% endblock %}