{% extends "base.twig" %}
{% block content %}
	<section>
		{% if posts is not empty %}
			{{ site.searchform() }}
			{% for post in posts %}
				{% include ['tease-search.twig', 'tease.twig'] %}
			{% endfor %}
			{% include 'parts/pagination.twig' %}
		{% else %}
			<h4>{{ site.translate('Nothing found') }}</h4>
			<p>{{ site.translate("Unfortunately we couldn't find what you're searching for. Please try another search phrase.") }}</p>
			{{ site.searchform() }}
		{% endif %}
	</section>
{% endblock %}