<div class="site-search">
	<form role="search" method="get" class="search-form" action="{{ site.url }}">
		<input type="search" class="search-field" placeholder="{{ site.translate('Search keyword') }}" value="" name="s" title="">
		<button type="submit" class="search-submit icon-search"></button>
	</form>
</div>