{% set sub_menu_html %}{{ menu_sub.render_navigation() }}{% endset %}
{% if sub_menu_html %}
	<div class="sub-navigation">
		{% if menu_main.selected_item.title %}
			<a href="{{ menu_main.selected_item.url }}"><h2>{{ menu_main.selected_item.title }}</h2></a>
		{% endif %}
		{{ sub_menu_html }}
		
	</div>
{% endif %}

{% set menu_default_html %}{{ menu_default.render_navigation() }}{% endset %}
{% if menu_default_html %}
	<div class="sub-navigation">
		<div class="content-padding">
			{{ menu_default.render_navigation() }}
		</div>
	</div>
{% endif %}

{{ site.get_widgetarea('sidebar-left') }}