{% extends "base.twig" %}

{% block content %}
	<div class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		
		{% include "parts/post-thumbnail.twig" %}

		<h1 class="article-heading">{{post.title}}</h1>

		<div class="article-body">
			{{post.content}}
		</div>

	</div>

	{% include "parts/previous-page-link.twig" %}

{% endblock %}
