{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<h1 class="article-heading">{{post.title}}</h1>

		<p class="entry-date">
			<i class="icon-clock"></i> {{ post.post_date|date_long}}
		</p>

		{% include "parts/post-thumbnail.twig" %}

		<section class="article-body">
			{{post.content}}
		</section>
		
		{% include "parts/comments_form.twig" %}

	</article>

	{% include "parts/previous-page-link.twig" %}

{% endblock %}
