{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
	
		<h1 class="article-heading">{{post.title}}</h1>

		{% include "parts/person-thumbnail.twig" %}

		<section class="article-body single-person-body">
			{% if post.cmb_title %}
			<h3 class="person-cmb_title">{{ post.cmb_title }}</h3>
			{% endif %}
			{% if post.cmb_job %}
			<p class="person-cmb_job">{{ post.cmb_job }}</p>
			{% endif %}

			{{ post.content }}
			
			{% if post.cmb_phone %}
			<p class="person-phone"><a href="tel:{{ post.cmb_phone|striptags|replace({' ':''}) }}" title="{{ post.cmb_phone|striptags }}" rel="nofollow" class="fal fa-phone">{{ post.cmb_phone|striptags }}</a></p>
			{% endif %}
			{% if post.cmb_mobile %}
			<p class="person-mobile"><a href="tel:{{ post.cmb_mobile|striptags|replace({' ':''}) }}" title="{{ post.cmb_mobile|striptags }}" rel="nofollow" class="fal fa-phone">{{ post.cmb_mobile|striptags }}</a></p>
			{% endif %}
			{% if post.cmb_email %}
			<p class="person-email"><a href="mailto:{{ post.cmb_email|striptags }}" title="{{ post.cmb_email|striptags }}" rel="nofollow" class="fal fa-envelope">{{ post.cmb_email|striptags }}</a></p>
			{% endif %}
		</section>

	</article>

	{% include "parts/previous-page-link.twig" %}

{% endblock %}
