{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<h1 class="article-heading">{{post.title}}</h1>

		{% include "parts/post-thumbnail.twig" %}

		<section class="article-body">
			{{post.content}}
		</section>

	</article>
	
	{% include "parts/previous-page-link.twig" %}

{% endblock %}
