{% extends "base.twig" %}

{% block content %}
	<div class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		
		{% include "parts/post-thumbnail.twig" %}

		<h1 class="article-heading">{{post.title}}</h1>

		<p class="entry-date">
			<span class="icon-calendar">{{post.event_date|date_default}} {% if post.event_date_end %} - {{post.event_date_end|date_default}}{% endif %}</span> {% if post.event_location %} | <span class="icon-location-disabled">{{post.event_location}}</span>{% endif %}
		</p>


		<div class="article-body">
			{{post.content}}
		</div>

		{% if post.cmb_event_group %}
			{# <!-- Ohjelmanostot --> #}
			<div id="event_lifts_container">
				<div class="row no-margin padding-gutter gutter-30 flex">
					{% for event_box in post.cmb_event_group %}
						{% if event_box.cmb_event_box_content %}
						<div class="col-xs-24">
							{% include 'parts/event_box.twig' %}
						</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		{% endif %}

	</div>

	{% include "parts/previous-page-link.twig" %}

{% endblock %}