{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<h1 class="article-heading">{{post.title}}</h1>

		{% include "parts/post-thumbnail.twig" %}

		<section class="article-body">
			{{post.content}}
			{% if post.content_image %}
				<img class="alignright" src="{{ Image(post.content_image) }}" alt="{{post.title}}">
			{% endif %}
			{{ post.additional_content|wysiwyg }}
		</section>

	</article>

	{% include "parts/previous-page-link.twig" %}

{% endblock %}