{% extends "base.twig" %}
{% block content %}
	<section>
		{% for post in posts %}
			{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
		{% else %}
			
			<h1>{{ site.translate('Kategoria on tyhjä') }}</h1>

		{% endfor %}
	</section>
{% endblock %}