{% if not post.password_required %}
<div class="tease-search search-{{post.post_type}}" id="tease-{{post.ID}}">
	{% block content %}
		{% set read_more_link_text %}{{ site.translate('Read more') }}{% endset %}
		<strong class="search-title"><a href="{{post.link}}">{{post.title}}</a></strong>
		<p>{{ post.preview.length(5).end(' ... ').read_more(read_more_link_text) }}</p>
	{% endblock %}
</div>
{% else %}
	<div class="password-required hide">{{ site.translate('Content is protected by password.') }}</div>
{% endif %}