<article class="tease tease-{{post.post_type}}" id="tease-{{post.ID}}">
	{% block content %}
		{% set read_more_link_text %}{{ site.translate('Read more') }}{% endset %}
		<h1><a href="{{post.link}}">{{post.title}}</a></h1>
		{% if not post.password_required %}
		<p>{{ post.preview.length(25).end(' ...').read_more(read_more_link_text) }}</p>
		{% else %}
			<p class="password-required">{{ site.translate('Content is protected by password.') }}</p>
		{% endif %}
	{% endblock %}
</article>