{% extends "tease.twig" %}

{% block content %}
	<div class="article-meta flex flex-middle">
		<span class="article-date entry-date"><span class="icon-calendar">{{post.event_date|date('j.n.Y')}}{% if post.event_date_end %} - {{post.event_date_end|date('j.n')}}{% endif %}</span> {% if post.event_location %} | <span class="icon-location-disabled">{{post.event_location}}</span> {% endif %}</span>
	</div>
	<h1><a href="{{post.link}}">{{post.title}}</a></h1>
	{% if post.thumbnail.src %}
		<div class="tease-image post-event">
			<div class="thumbnail-container">
				<img src="{{ post.thumbnail.src|resize(0, 110) }}" alt="{{ post.title }}">
			</div>
		</div>
	{% endif %}
	<p>{{ post.preview.length(25).end(' ...').read_more(false) }}</p>
	<a href="{{ post.link }}" class="read-more-link">{{ site.translate('Read more') }} <span class="icon-right-small"></span></a>
{% endblock %}
