{% extends "tease.twig" %}

{% block content %}
	<div class="row no-margin">
		{% if post.thumbnail %}
		<div class="col-xs-24 col-m-7 tease-image" >
			<img src="{{ post.thumbnail.src|resize(250) }}" alt="{{ post.title }}">
		</div>
		{% endif %}
		<div class="col-xs-24 col-m-17 tease-content">
			<div class="content-padding">
				{# <span class="article-date entry-date"><i class="icon-clock"></i>{{post.post_date|date_default}}:</span> #}
				<h2>{#<a href="{{post.link}}">#}{{post.title}}{# </a> #}</h2>
				{{ post.content }}
			</div>
		</div>
	</div>
{% endblock %}