{% extends "tease.twig" %}

{% block content %}
	<div class="tease-person-info">
		<h1><a href="{{post.link}}">{{post.title}}</a></h1>

		{% if post.cmb_title %}
		<p class="person-cmb_title">{{ post.cmb_title }}</p>
		{% endif %}
		{% if post.cmb_job %}
		<p class="person-cmb_job">{{ post.cmb_job }}</p>
		{% endif %}

		{% if post.thumbnail.src %}
			<p class="thumbnail-container">
				<img src="{{ post.thumbnail.src|resize(245) }}" alt="{{ post.title }}">
				{% if post.thumbnail.caption %}
					<span class="thumbnail-caption">{{post.thumbnail.caption}}</span>
				{% endif %}
			</p>
		{% endif %}
		
		<div class="tease-body">
			<p>{{ post.post_excerpt }}</p>
			{% if post.cmb_phone or post.cmb_email %}
				<h3>{{ site.translate('Contact information') }}</h3>
			{% endif %}
			{% if post.cmb_phone %}
			<p class="person-phone">{{ post.cmb_phone }}</p>
			{% endif %}
			{% if post.cmb_email %}
			<p class="person-email">{{ post.cmb_email }}</p>
			{% endif %}
		</div>
	</div>
{% endblock %}