{% extends "tease.twig" %}

{% set read_more_link_text %}{{ site.translate('Read more') }}{% endset %}

{% block content %}
	<span class="article-date entry-date"><i class="icon-clock"></i>{{post.post_date|date_default}}:</span>
	<h1><a href="{{post.link}}">{{post.title}}</a></h1>
	<p>{{ post.preview.length(25).end(' ...').read_more(read_more_link_text) }}</p>

	{% include 'parts/tag-list.twig' %}
{% endblock %}