<li class="sf_single-comment {{comment.comment_type}}" id="sf_single-comment-{{comment.ID}}">
	<h5 class="sf_single-comment-author">{{comment.author.name}} - {{ comment.comment_date|date("j.n.Y H:i") }}</h5>
	<div class="sf_single-comment-content">{{comment.comment_content|wpautop}}</div>
</li>