	<div class="event-lift-box">
		<div class="row no-margin padding-gutter">
				
			{% if event_box.cmb_event_box_title %}
				<div class="col-xs-24">
					<h2 class="event_box_title">{{ event_box.cmb_event_box_title }}</h2>
				</div>
			{% endif %}

			{% if event_box.cmb_event_box_image %}
				<div class="col-xs-24">
					<div class="event-lift-box-image-container">
						<img src="{{ event_box.cmb_event_box_image|image|resize(850) }}" alt="{{ event_box.cmb_event_box_title }}">
					</div>
				</div>
			{% endif %}			

			{% if event_box.cmb_event_personnel or event_box.cmb_event_personnel_alt %}
				<div class="col-xs-8 float-right">
				{% if event_box.cmb_event_personnel_alt %}
					<div class="event-lift-box-personnel_alt">
						{{ event_box.cmb_event_personnel_alt|wysiwyg }}
					</div>
				{% endif %}
				{% if event_box.cmb_event_personnel %}
					<div class="event-lift-box-personnel_alt">
						{% set person = TimberPost(event_box.cmb_event_personnel) %}
						{% if person.title %}
							<div class="event-person-info">
								<h4><a href="{{person.link}}">{{person.title}}</a></h4>

								{#

								{% if person.cmb_title %}
								<p class="person-cmb_title">{{ person.cmb_title }}</p>
								{% endif %}
								{% if person.cmb_job %}
								<p class="person-cmb_job">{{ person.cmb_job }}</p>
								{% endif %}

								#}

								{% if person.thumbnail.src %}
									<p class="thumbnail-container">
										<img src="{{ person.thumbnail.src|resize(245) }}" alt="{{ person.title }}">
										{% if person.thumbnail.caption %}
											<span class="thumbnail-caption">{{person.thumbnail.caption}}</span>
										{% endif %}
									</p>
								{% endif %}
								
								<div class="tease-body">
									{% if person.cmb_phone or person.cmb_email %}
										<h3>{{ site.translate('Contact information') }}</h3>
									{% endif %}
									{% if person.cmb_phone %}
									<p class="person-phone">{{ person.cmb_phone }}</p>
									{% endif %}
									{% if person.cmb_email %}
									<p class="person-email">{{ person.cmb_email }}</p>
									{% endif %}
								</div>
							</div>
						{% endif %}
					</div>
				{% endif %}
				</div>

			<div class="col-xs-16">
			{% else %}
			<div class="col-xs-24">
			{% endif %}
				<div class="event-lift-box-content">
					{{ event_box.cmb_event_box_content|wysiwyg }}
				</div>
			</div>
		</div>
	</div>