{% if post.thumbnail.src %}
	<div class="article-image">
		<div class="page-thumbnail-container">
			<img src="{{ post.thumbnail.src|resize(800) }}" alt="{{ post.title }}">
			{% if post.thumbnail.caption %}
				<p class="page-thumbnail-caption">{{post.thumbnail.caption}}</p>
			{% endif %}
		</div>
	</div>
{% endif %}
