<div class="tool-pagination cf">
	{% if posts.pagination.prev %}
		<a href="{{posts.pagination.prev.link}}" class="pagination_arrow prev {{posts.pagination.prev.link|length ? '' : 'invisible'}}"><span class="icon-left-open"></span></a>
	{% endif %}
	<ul class="pages">
		{% for page in posts.pagination.pages %}
			<li>
				{% if page.link %}
					<a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
				{% else %}
					<span class="{{page.class}}">{{page.title}}</span>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
	{% if posts.pagination.next %}
		<a href="{{posts.pagination.next.link}}" class="pagination_arrow next {{posts.pagination.next.link|length ? '' : 'invisible'}}"><span class="icon-right-open"></span></a>
	{% endif %}
</div>