{% if post.thumbnail.src %}
	<div class="article-image personnel">
		<div class="thumbnail-container">
			<img src="{{ post.thumbnail.src|resize(250) }}" alt="{{ post.title }}">
			{% if post.thumbnail.caption %}
				<p class="thumbnail-caption">{{post.thumbnail.caption}}</p>
			{% endif %}
		</div>
	</div>
{% endif %}
