{% if post.terms('post_tag')|length >= 1 %}
	<div class="sf_single-tag-list-container">
		<div class="sf_single-tag-list-title">
			{{ site.translate('Tags') }}:
		</div>
		<ul class="sf_single-tag-list">
		    {% for term in post.terms('post_tag') %}
		        <li><a href="{{term.link}}">{{term.name}}</a></li>
		    {% endfor %}
		</ul>
	</div>
{% endif %}