{% if post.author %}
	<div class="sf_single-post-author flex flex-middle flex-nowrap">
		{% if post.author.avatar %}
			<div class="sf_single-post-author-avatar">
	   			 <img src="{{ post.author.avatar }}" alt="{% if post.author.nickname %}{{ post.author.nickname }}{% else %}{{ post.author.name }}{% endif %}">
			</div>
		{% endif %}
		<div class="sf_single-post-author-details">
			{% if post.author.nickname or post.author.name %}
				<div class="sf_single-post-author-title">{% if post.author.nickname %}{{ post.author.nickname }}{% else %}{{ post.author.name }}{% endif %}</div>
			{% endif %}
			{% if post.author.description %}
				<div class="sf_single-post-author-description">
					{{ post.author.description }}
				</div>
			{% endif %}
		</div>
	</div>	
{% endif %}