{% set referer = function('wp_get_referer') %}
{% if referer %}
	<p class="previous-page-link-container">
		<a href="{{ referer }}" class="previous-page-link link-button"><span class="icon-ccw"></span> {{ site.translate('Back to previous page') }}</a>
	</p>
{% endif %}