{% if posts is iterable %}

	{{ before_widget }}

	{% if title %}{{ title }}{% endif %}

	
	{% for post in posts %}
		{% block article %}
			{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
		{% endblock %}
	{% endfor %}
	

	{{ after_widget }}

{% endif %}