{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}} article-content" id="post-{{post.ID}}">
		
		{% if post.thumbnail.src %}
			<h1>{{ post.title }}</h1>
			<div class="article-image">
				<div class="post-thumbnail-container">
					{{ post.thumbnail|responsive_image }}
					{% if post.thumbnail.caption %}
						<p class="post-thumbnail-caption">{{post.thumbnail.caption}}</p>
					{% endif %}
				</div>
			</div>
		{% endif %}

		<div class="article-body">
			{% block main_container %}
				{{post.content}}
			{% endblock %}
		</div>
	</article>
{% endblock %}


{% block after_body_wrapper %}
	{% set references = site.get_posts_by_post_type('reference', 30, 'menu_order', 'DESC') %}
	<div class="wrapper">
		{% if references %}
			<section class="reference-list">
				{% for post in references %}
					{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
				{% endfor %}
			</section>
		{% endif %}
	</div>
{% endblock %}