{% if a_article is iterable %}
	<div class="article-list">
		{% for item in a_article %}
			<article class="col-m-12 single-news">
				<span class="article-date entry-date">{{ item.date|date_default }}:</span>
				<a href="{{ item.getLink() }}">
					<h2 class="tertiary-color">{{ item.title }}</h2>
				</a>
				<p class="article-excerpt">{{ item.getExcerpt() }}</p>
				<a class="read-more" href="{{ item.getLink() }}">&raquo; Lue lisää</a>
			</article>
		{% endfor %}
	<a class="archive tertiary-color" href="{{ term_link }}">&raquo; Uutisarkisto</a>
	</div>
{% endif %}
