{% if post.cmb_cols_4_group or post.cmb_cols_4_bottom_content %}
	{% set cmb_cols_4_group = site.unserialize_field_group(post.cmb_cols_4_group) %}
	<div class="cf"></div>
	{% if cmb_cols_4_group %}
		<div id="subpage_cols4_boxes_container">
			<div class="page-columns">
				<div class="row no-margin padding-gutter flex">
					{% for cmb_col_4 in cmb_cols_4_group %}
						
						{% if cmb_col_4.cmb_cols_4_content_1 %}
							<div class="col-xs-24 col-m-12 col-l-6">
								{% if cmb_col_4.cmb_cols_4_image_1 %}
									{% set cmb_cols_4_image_1 = cmb_col_4.cmb_cols_4_image_1|image %}
									<div class="services-lift-box-image-container">
										<!-- <span class="services-lift-box-image-elm" style="background-image:url({{ cmb_cols_4_image_1 }});"></span> -->
										<img src="{{ cmb_cols_4_image_1 }}" srcset="{{ cmb_cols_4_image_1.srcset }}" alt="{{ cmb_cols_4_image_1.alt|default(post.title) }}">
									</div>
								{% endif %}
								<div class="services-lift-box-content">
									{{ cmb_col_4.cmb_cols_4_content_1|wysiwyg }}
								</div>
							</div>
						{% endif %}

						{% if cmb_col_4.cmb_cols_4_content_2 %}
							<div class="col-xs-24 col-m-12 col-l-6">
								{% if cmb_col_4.cmb_cols_4_image_2 %}
									{% set cmb_cols_4_image_2 = cmb_col_4.cmb_cols_4_image_2|image %}
									<div class="services-lift-box-image-container">
										<!-- <span class="services-lift-box-image-elm" style="background-image:url({{ cmb_cols_4_image_2 }});"></span> -->
										<img src="{{ cmb_cols_4_image_2 }}" srcset="{{ cmb_cols_4_image_2.srcset }}" alt="{{ cmb_cols_4_image_2.alt|default(post.title) }}">
									</div>
								{% endif %}
								<div class="services-lift-box-content">
									{{ cmb_col_4.cmb_cols_4_content_2|wysiwyg }}
								</div>
							</div>
						{% endif %}

						{% if cmb_col_4.cmb_cols_4_content_3 %}
							<div class="col-xs-24 col-m-12 col-l-6">
								{% if cmb_col_4.cmb_cols_4_image_3 %}
									{% set cmb_cols_4_image_3 = cmb_col_4.cmb_cols_4_image_3|image %}
									<div class="services-lift-box-image-container">
										<!-- <span class="services-lift-box-image-elm" style="background-image:url({{ cmb_cols_4_image_3 }});"></span> -->
										<img src="{{ cmb_cols_4_image_3 }}" srcset="{{ cmb_cols_4_image_3.srcset }}" alt="{{ cmb_cols_4_image_3.alt|default(post.title) }}">
									</div>
								{% endif %}
								<div class="services-lift-box-content">
									{{ cmb_col_4.cmb_cols_4_content_3|wysiwyg }}
								</div>
							</div>
						{% endif %}

						{% if cmb_col_4.cmb_cols_4_content_4 %}
							<div class="col-xs-24 col-m-12 col-l-6">
								{% if cmb_col_4.cmb_cols_4_image_4 %}
									{% set cmb_cols_4_image_4 = cmb_col_4.cmb_cols_4_image_4|image %}
									<div class="services-lift-box-image-container">
										<!-- <span class="services-lift-box-image-elm" style="background-image:url({{ cmb_cols_4_image_4 }});"></span> -->
										<img src="{{ cmb_cols_4_image_4 }}" srcset="{{ cmb_cols_4_image_4.srcset }}" alt="{{ cmb_cols_4_image_4.alt|default(post.title) }}">
									</div>
								{% endif %}
								<div class="services-lift-box-content">
									{{ cmb_col_4.cmb_cols_4_content_4|wysiwyg }}
								</div>
							</div>
						{% endif %}

					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if post.cmb_cols_4_bottom_content %}
		<div class="subpage_cols4_bottom_text bottom_textarea">
			{{ post.cmb_cols_4_bottom_content|wysiwyg }}
		</div>
	{% endif %}
{% endif %}