{% set slides = site.get_posts_by_post_type('slide', 10, 'menu_order', 'DESC') %}
<!-- Kuvakaruselli -->
{% if slides %}
	<div class="owl-carousel frontpage-slider">
		{% for slide in slides %}
			{% if slide.thumbnail.src %}
				<div class="single-slide{% if slide.content %} slide-has-content{% endif %}">
					<div class="flex flex-middle flex-rows flex-wrap relative">
						<div class="slider-image bg-cover owl-lazy" data-src="{{ slide.thumbnail.src|resize(2000) }}"></div>
						{% if slide.content %}
						<div class="slider-content-container div-center">
							<div class="wrapper wide">
								<div class="slider-content">
									<h2>{{ slide.title }}</h2>
									{{ slide.content }}
									<!-- <a href="{{ slide.link }}">{{ slide.title }}</a> -->
								</div>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endif %}