/* --------------------------
 *
 *	Print
 *
** ----------------------- */

.only-print 														{ display: none; }

@media print {

    	html 														{ margin: 0; padding: 0; }
    	body 														{ margin: 0; padding: 0; }
    	.wrapper 													{ margin: 0; padding: 0; }
        @page 														{ margin: 1cm; }

        * 															{ background: none !important; color: #000 !important; /* Black prints faster: h5bp.com/s */ box-shadow: none !important; text-shadow: none !important; float:none !important; text-align:left; border:0 !important; border-radius:0; }

        ol 	 														{ width: 100% !important; }
        ul 	 														{ width: 100% !important; }
        li 	 														{ width: 100% !important; }
        div 	 													{ width: 100% !important; }

        .no-print 													{ display: none !important; }
        .only-print 												{ display: block !important; }

        #logo 														{ display: block; max-width: 40%; margin-bottom: 1em; }
        #logo img 													{ display: block; max-width: 100%; }
        .show-print 												{ display: block !important; }

        .content-padding 											{ padding:0 !important; }

        .equal 														{ height: auto !important; }

        .parallax-mirror											,
        aside														,
        nav															,
        footer img													,
        footer nav													,
        .cf:after 													,
        .open-mobile-nav 											,
    	.quick-links 												,
    	.slider 													,
    	.owl-carousel 												,
    	.search-form 												,
    	.site-search 												,
        #mobilenav-loader 											,
        #mobilenav 													,
        #mobilenav-dimmer 											,
        .addthis_sharing_toolbox 									,
        .fb_iframe_widget 											,
        .fixed-menu 												,
        #colorbox 													{ display: none !important; }

        a, a:visited 												{ /*text-decoration: underline;*/ }
        footer a[href*="sitefactory"], footer a[href*="verkkolasnaolo"]	{ display: none; }

        /*.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }*/
        pre, blockquote 											{ border: 0; page-break-inside: avoid; }
        thead 														{ display: table-header-group; /* h5bp.com/t */ }
        tr, img 													{ page-break-inside: avoid; }
        img 														{ display: block; max-width: 40%; }
        
        p 															{ orphans: 3; widows: 3; }

		/*
        p a[href^="http://"]:after  								,
        li a[href^="http://"]:after  								,
        p a[href^="https://"]:after  								,
        li a[href^="https://"]:after  								{ content: " (" attr(href) ")" !important; font-size: 80%; font-family: inherit; }
		*/

    	h1, h2, h3, h4, h5, h6										{ page-break-after: avoid; }
    	h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p     			{ page-break-before: avoid; }

}