/*
* CSS only Responsive Tables
* http://dbushell.com/2016/03/04/css-only-responsive-tables/
* by David Bushell
*/

#main-content-area{

	table {
	  display: inline-block;
	  vertical-align: top;
	  max-width: 100%;
	  overflow-x: auto;
	  white-space: nowrap;
	  border-collapse: collapse;
	  border-spacing: 0;
	  width: auto !important;
	}

	table,
	table.flip tbody {
	  -webkit-overflow-scrolling: touch;
	  background: -webkit-radial-gradient(left ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, -webkit-radial-gradient(right ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
	  background: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, radial-gradient(ellipse at right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
	  background-size: 10px 100%, 10px 100%;
	  background-attachment: scroll, scroll;
	  background-repeat: no-repeat;
	}

	table tbody td:first-child,
	table.flip tbody tr:first-child {
	  background-image: -webkit-linear-gradient(left, white 50%, rgba(255, 255, 255, 0) 100%);
	  background-image: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%);
	  background-repeat: no-repeat;
	  background-size: 20px 100%;
	}

	table tbody td:last-child,
	table.flip tbody tr:last-child {
	  background-image: -webkit-linear-gradient(right, white 50%, rgba(255, 255, 255, 0) 100%);
	  background-image: linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
	  background-repeat: no-repeat;
	  background-position: 100% 0;
	  background-size: 20px 100%;
	}

	table thead td,
	table th {
	  font-size: 11px;
	  text-align: left;
	  text-transform: uppercase;
	  background: lighten($primary-color, 40%);
	}

	table th,
	table td {
	  padding: 6px 12px;
	  border: 1px solid #d9d7ce;
	}

	table.flip {
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  overflow: hidden;
	  background: none;
	}

	table.flip thead {
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -ms-flex-negative: 0;
	      flex-shrink: 0;
	  min-width: -webkit-min-content;
	  min-width: -moz-min-content;
	  min-width: min-content;
	}

	table.flip tbody {
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  position: relative;
	  overflow-x: auto;
	  overflow-y: hidden;
	}

	table.flip tr {
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
	      -ms-flex-direction: column;
	          flex-direction: column;
	  min-width: -webkit-min-content;
	  min-width: -moz-min-content;
	  min-width: min-content;
	  -ms-flex-negative: 0;
	      flex-shrink: 0;
	}

	table.flip td,
	table.flip th {
	  display: block;
	}

	table.flip tbody td {
	  background-image: none !important;
	  border-left: 0;
	}

	table.flip th:not(:last-child),
	table.flip td:not(:last-child) {
	  border-bottom: 0;
	}

}