/* --------------------------
 *
 * Search-form
 *
** ----------------------- */

	$search_box_height: 40px;
	.search-form 											{ 
		& 															{ overflow: hidden; height: $search_box_height; position: relative; padding: 0 $search_box_height 0 0; background-color: #fff; border:1px solid $input-border-color; }
			input[type="search"] 									{ height: ($search_box_height - 2px); line-height: ($search_box_height - 3px); border:0; outline:none; width: 100%; padding: 0 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 13px; }
			button[type="submit"] 									{ height: $search_box_height; width: $search_box_height; padding: 0 !important; outline:none; margin: 0 !important; border:0; background-color: $primary-color !important; color: #fff !important; position: absolute; top:0; right:0; @include border-radius(0px); }
		&.rounded 													{ @include border-radius(15px); z-index: 1; }
	}

	#mobilenav-additional {
		.search-form 												{ max-width: 215px; }
	}

	.woocommerce-product-search 							{
		& 															{ overflow: hidden; height: $search_box_height; position: relative; padding: 0 $search_box_height 0 0; background-color: #fff; border:1px solid $input-border-color; }
			input[type="search"] 									{ height: ($search_box_height - 2px); line-height: ($search_box_height - 3px); border:0; outline:none; width: 100%; padding: 0 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 13px; }
			button[type="submit"] 									{ height: $search_box_height; width: $search_box_height; padding: 0 !important; outline:none; margin: 0 !important; border:0; background-color: $primary-color !important; color: #fff !important; position: absolute; top:0; right:0; @include border-radius(0px); font-size: 13px !important; }
		&.rounded 													{ @include border-radius(15px); z-index: 1; }
	}