
/* DEFAULT owl-carousel */

	
	.owl-carousel:not(.disable-default-styles) 			{

		& 															{ margin: 0; padding: 0; list-style:none; }

		.single-slide .slider-image									{ height:250px; width: 100%; }
		.owl-dots 													{ top:210px; }

		.single-slide .slider-content-container						{ height:auto; width: 100%; background-color: #fff; padding: 1.5em 0; text-align: center; }
		.single-slide .slider-content-container	.slider-content		{ padding: 0 1em; }

		@include media-from(m){ 
			.single-slide .slider-image								{ height:320px; }
				.owl-dots 											{ top:280px; }
		}
		@include media-from(l){ 
			.single-slide .slider-image								{ height:380px; }
			.owl-dots 												{ top:330px; }
		}
		@include media-from(xl){ 
			.single-slide .flex										{ height:634px; }
			.single-slide .slider-image								{ height:100%; width: 100%; z-index: -1; position: absolute; left:0; top:0; }
				.single-slide .slider-content-container				{ height:auto; background-color: transparent; text-align: left; }
				.single-slide .slider-content-container	.slider-content	{ /*color: #fff; font-size: em(21, $desktop_fsz);*/ background-color: #fff; padding: 2em; max-width: 710px; margin: 0 auto;
				}
			.owl-dots 												{ top:auto; bottom: 40px; }
		}
	}

	/* OWL navigation */
	.owl-nav .owl-next,
	.owl-nav .owl-prev 												{ position: static; z-index: 10; bottom:0; height:auto; width: auto; color: $primary-color; margin: 0 0 .85em 0; padding: 0; background-color: transparent; display: inline-block; cursor: pointer; font-size: 1em; }

	.owl-nav .owl-next 												{ right:1em; }
	.owl-nav .owl-prev 												{ left:1em; }

	/* Piiloon navigaation mobiililla */
	.owl-nav  														{ display: none; margin: 0; text-align: center; -webkit-tap-highlight-color: transparent; }

	.owl-nav .disabled, .owl-nav .disabled:hover 					{ opacity: .5; cursor: default; }

	.owl-dots 														{ text-align: center; position: absolute; width: 100%; left:0; margin: 0 0 .5em 0; }
	.owl-dots .owl-dot 												{ display: inline-block; zoom: 1; *display: inline; }
	.owl-dots .owl-dot span 										{ width: 1.5em; height: 1.5em; margin: 0 2px; background: $secondary-color; display: block; @include border-radius(50%); text-indent: -9999px; }
	.owl-dots .owl-dot.active span 									{ background: $primary-color; }
	.owl-dots .owl-dot:hover span 									{ opacity: .8; }

	@include media-from(s){ 
		.owl-dots 													{ display: block; }
	}

	@include media-from(1340px){ 

		.owl-nav 													{ opacity: .1; transition: opacity .6s ease; display: block; }

		 .owl-carousel:hover 			{ 
			.owl-nav 												{ opacity: 1; }
			.owl-nav .owl-next, 
			.owl-nav .owl-prev										{ /*background-color: transparentize($primary-color, .6);*/ }
		  }

		 .owl-nav .owl-next, 
		 .owl-nav .owl-prev  										{ top:0; bottom:auto; position: absolute; height:100%; width: 80px; margin: 0; padding: 1em .4em; color: #fff; font-size: 3em; transition: background .6s ease; -webkit-transition: background .6s ease; }

		 .owl-nav .owl-prev 										{ left:0; float:none; }
		 .owl-nav .owl-next 										{ right:0; float:none; } 

		 .owl-nav .owl-next span.navigation, 
		 .owl-nav .owl-prev span.navigation 						{ position: absolute; top:50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); width: 100%; text-align: center; }

		 .owl-nav .owl-next span.navigation 						{ right:0; }
		 .owl-nav .owl-prev span.navigation 						{ left:0; }

		.owl-nav .owl-next:hover,
		.owl-nav .owl-prev:hover 									{ background-color: transparentize(#000, .8) !important; }

	}

