/**

	@style _variables.scss
	@author Sitefactory 

*/

	$break-s: 480px;
	$break-m: 768px;
	$break-l: 1024px;
	$break-xl: 1220px;
	$break-mxl: 1340px;
	$break-xxl: 1600px;

	$wrapper_min_px: 320px;
	$wrapper_px: 1220px;
	$wrapper_padding_px: 20px;
	$gutter_px: 20px;
	$base_px: 14;

	/* px -> em calculation, esim: em(17,14); */
	@function em($px, $new-base: null){
		@if ($new-base) {
			@return ($px / $new-base) * 1em;
		} @else {
			@return ($px / $base_px) * 1em;
		}
	}

	/* Border radius, esim: @include border-radius(5px); */
	@mixin border-radius($radius) {
	  -webkit-border-radius: $radius;
	  -moz-border-radius: $radius;
	  -ms-border-radius: $radius;
	  border-radius: $radius;
	}

	/* box shadow, esim: @include box-shadow(3px, 3px, 10px, rgba(0,0,0,.5), inset); */
	@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
      -webkit-box-shadow:$top $left $blur $color #{$inset};
      -moz-box-shadow:$top $left $blur $color #{$inset};
      box-shadow:$top $left $blur $color #{$inset};
    }

    @mixin gradient($from-color, $to-color) {
        background-color: mix($from-color, $to-color); /* Fallback */
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from-color), to($to-color));
        background-image: -webkit-linear-gradient(top, $from-color, $to-color); 
        background-image:    -moz-linear-gradient(top, $from-color, $to-color);
        background-image:     -ms-linear-gradient(top, $from-color, $to-color);
        background-image:      -o-linear-gradient(top, $from-color, $to-color);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$from-color}', EndColorStr='#{$to-color}')";
    }

    @mixin media-from($media) {
      @if $media == s {
        @media only screen and (min-width: $break-s) { @content; }
      }
      @else if $media == m {
        @media only screen and (min-width: $break-m ) { @content; }
      }
      @else if $media == l {
        @media only screen and (min-width: $break-l) { @content; }
      }
      @else if $media == xl {
        @media only screen and (min-width: $break-xl) { @content; }
      }
      @else if $media == mxl {
        @media only screen and (min-width: $break-mxl) { @content; }
      }
      @else if $media == xxl {
        @media only screen and (min-width: $break-xxl) { @content; }
      }
      @else {
        @media only screen and (min-width: $media) { @content; }
      }
    }

    @mixin media-to($media) {
      @if $media == s {
        @media only screen and (max-width: $break-s - 1px) { @content; }
      }
      @else if $media == m {
        @media only screen and (max-width: $break-m - 1px) { @content; }
      }
      @else if $media == l {
        @media only screen and (max-width: $break-l - 1px) { @content; }
      }
      @else if $media == xl {
        @media only screen and (max-width: $break-xl - 1px) { @content; }
      }
      @else if $media == mxl {
        @media only screen and (max-width: $break-mxl - 1px) { @content; }
      }
      @else if $media == xxl {
        @media only screen and (max-width: $break-xxl - 1px) { @content; }
      }
      @else {
        @media only screen and (max-width: $media) { @content; }
      }
    }