
/* --------------------------
 *
 * Woocommerce
 *
** ----------------------- */

	#page-top 														{ 
		.login_buttons_container  									{  }
		.login_buttons_container .link-button  						{ margin: 0 0 0 .5em; font-size: .8em; }
		.login_buttons_container .link-button .icon:before  		{ margin: 0 .5em 0 0; }
	}

	.woocommerce .woocommerce-breadcrumb 							{ margin-bottom: 2em; padding-bottom: 1em; border-bottom:1px solid #3a3a3a; color: #e0e0e0; }
	.woocommerce .woocommerce-breadcrumb a 							{ color: $primary-color; }
	.woocommerce .woocommerce-breadcrumb span.separator 			{ color: #6d6d6d; }
	.woocommerce .woocommerce-breadcrumb span.separator:before 		{ margin: 0; }

	/* woocommerce User page */
	.woocommerce-account.logged-in .woocommerce-MyAccount-navigation { margin: 0; width: 100%; margin-bottom: 2em; }
	.woocommerce-account .woocommerce-MyAccount-navigation 			{ width: 100%; display: block; margin-bottom: 2em; }
	.woocommerce-account .woocommerce-MyAccount-navigation ul 		{ display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-align-items: stretch; align-items: stretch; }
	.woocommerce-account .woocommerce-MyAccount-navigation ul li 	{ /* fallback / flex */ float:left; width: auto; min-width: 150px; display: block; border-right: 1px solid lighten($secondary-color, 10%); border-bottom: 1px solid lighten($secondary-color, 10%); -webkit-flex-grow: 1; flex-grow: 1; text-align: center; }
	.woocommerce-account .woocommerce-MyAccount-navigation ul li a	{ width: 100%; height:100%; display: block; padding: 10px; background-color: $secondary-color; color: #fff; font-family: $secondary-font; font-weight: 700;}
	.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a { background-color: $primary-color; color: #fff; }
	.woocommerce-account .woocommerce-MyAccount-navigation ul li:last-child	{ border-right:0; }

	.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link a:before		{ font-family: "skeletor-fontello"; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-decoration: inherit; width: 1em; margin-right: 4px; text-align: center; font-variant: normal; text-transform: none; line-height: 1em; margin-left: 0; color: inherit; }
	.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a:before	{ content: '\e820'; }
	.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a:before	{ content: '\e860'; }
	.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads { display: none; }
	.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a:before	{ content: '\e817'; }
	.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a:before	{ content: '\e869'; }
	.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:before	{ content: '\e83c'; }
	.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a:before	{ content: '\e840'; }

	.woocommerce-account .woocommerce-MyAccount-content 			{ width: 100%; display: block; }

	/* woocommerce checkout page */
	.woocommerce #billing_country_field,
	.woocommerce #shipping_country_field 							{ /*display: none;*/ }

	/* Single -product */
	.single-product #main-content-area 								{ position: relative; }
	.woocommerce .single-product-details .quantity					{ display: inline-block; vertical-align: top; }
	.woocommerce .single-product-details .quantity input[type="number"]	{ display: inline-block; margin-top: 0; padding: .8em .2em .8em .2em; padding: calc(.8em - 1px) .2em calc(.8em - 1px) .2em; font-size: 1em; line-height: 1.2em; vertical-align: top; }
	.woocommerce .single-product-details 							{ /*position: relative;*/ }
	.woocommerce .single-product-details .related.products			{ padding-top: 2em; margin-top: 2em; border-top: 1px solid #eee; }
	.woocommerce .single-product-details .upsells.products			{ padding-top: 2em; margin-top: 2em; border-top: 1px solid #eee; }
	.woocommerce .single-product-details .woocommerce-tabs ul.tabs.wc-tabs { /*display: none;*/ }
	.woocommerce .single-product-details .product_meta 				{ padding: 1em 0; }
	.woocommerce .single-product-details .product_meta .posted_in		{ display: block; }
	.woocommerce .single-product-details .product_meta .tagged_as		{ display: block; }
	/*.woocommerce .single-product-details .product-sku					{ display: none; }*/
	/*.woocommerce .single-product-details.product-type-simple .product-sku	{ display: block; }*/
	.woocommerce .single-product-details.product-type-simple .product_meta .sku_wrapper	{ display: none; }
	.woocommerce .woocommerce-product-gallery 						{ margin: 0 0 20px 0; }
	.woocommerce .woocommerce-product-gallery:after 				{ content:''; display:table; clear:both; }
	.woocommerce .woocommerce-product-gallery .woocommerce-product-gallery__wrapper { width: auto; margin: 0 -5px 0 -5px; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
	.woocommerce .woocommerce-product-gallery .woocommerce-product-gallery__image { max-width: 33.33333%; float:left; padding: 0 5px; margin-bottom: 10px; text-align: center; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-align-items: center; align-items: center; }
	.woocommerce .woocommerce-product-gallery .woocommerce-product-gallery__image a { display: block; margin: 0 auto; max-width: 100%; width: 100%; }
	.woocommerce .woocommerce-product-gallery .woocommerce-product-gallery__image img { display: inline-block; margin: 0 auto; }
	.woocommerce .woocommerce-product-gallery .woocommerce-product-gallery__image.first-image ,
	.woocommerce .woocommerce-product-gallery .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image:first-child { max-width: 100%; width: 100%; float:left; padding: 0 5px; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-align-items: center; align-items: center; }

	/* Tabs */
	.woocommerce-tabs.wc-tabs-wrapper 								{ margin: 0; width: 100%; }
	.woocommerce-tabs.wc-tabs-wrapper 								{ width: 100%; display: block; margin-bottom: 2em; }
	.woocommerce-tabs.wc-tabs-wrapper ul.wc-tabs 					{ display: -webkit-flex; -webkit-align-items: stretch; align-items: stretch; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; padding: 0; margin-top: 0; }
	.woocommerce-tabs.wc-tabs-wrapper ul.wc-tabs li 				{ /* fallback / flex */ float:left; width: auto; min-width: 150px; display: block; border-right: 1px solid lighten($secondary-color, 10%); border-bottom: 1px solid lighten($secondary-color, 10%); -webkit-flex-grow: 1; flex-grow: 1; text-align: center; }
	.woocommerce-tabs.wc-tabs-wrapper ul.wc-tabs li a				{ width: 100%; height:100%; display: block; padding: 10px; background-color: $secondary-color; color: #fff; font-family: $secondary-font; font-weight: 700;}
	.woocommerce-tabs.wc-tabs-wrapper ul.wc-tabs li.active a 		{ background-color: $primary-color; color: #fff; }

	/* Variations */
	.woocommerce table.variations 									{ 
		& 															{ margin-bottom: 1em; }
		td 															{ padding: .5em; }
		td a.reset_variations 										{ display: inline-block; margin-left: .5em; }
	 }
	 .woocommerce-variation-description 							{ margin-bottom: 1em; }
	 .woocommerce-variation-price 									{ margin-bottom: 1em; }
		/* groups */
	.woocommerce table.group_table 									{ 
		& 															{ margin-bottom: 1em; border:1px solid #eee; }
		tr 															{ border-bottom:1px solid #eee; }
		tr:last-child 												{ border-bottom:0px solid #eee; }
		td 															{ padding: .5em; text-align: center; }
	}


	/* category */
	.term-description 												{ padding-bottom: 1em; /*margin-bottom: 1em;*/ /*border-bottom: 1px solid $default-border-color;*/ }

	/* loop */
	p.woocommerce-result-count 										{ font-weight: 500; padding: .5em 0; }

	.woocommerce-ordering 											{ width: 100%; min-width: 25%; max-width: 100%; float:right; padding: 0; margin: 0 0 1em 0; display: block;; }
	.woocommerce-tag-ordering 										{ width: 100%; min-width: 25%; max-width: 100%; float:right; padding: 0; margin: 0 0 1em 0; display: block;; }

	.woocommerce-ordering select									,
	.woocommerce-tag-ordering select								{ width: 100%; min-width: 50%; max-width: 100%; }

	@include media-from(s){ 
		.woocommerce-ordering 										{ width: 50%; padding: 0 0 0 .5em; }
		.woocommerce-tag-ordering 									{ width: 50%; padding: 0 .5em 0 0; }
	}
	@include media-from(m){ 
		 .woocommerce-ordering 										{ width: auto; }
		 .woocommerce-tag-ordering 									{ width: auto; }
	}

	.woocommerce ul.products li.product 							{ background-color: #fff; border: 0px solid $default-border-color; padding: 0; text-align: center; overflow: hidden; -webkit-transition:all .3s; transition:all .3s; -webkit-transform: translate3d(0, 0, 0); transform : translate3d(0, 0, 0); }
	.woocommerce ul.products li.product:hover 						{ @include box-shadow(0px, 0px, 15px, rgba(155,155,155,.5)); }

	.woocommerce ul.products li.product .product-loop-prod-cat		{ font-size: .8em; }
	.woocommerce ul.products li.product .woocommerce-loop-category__title, 
	.woocommerce ul.products li.product .woocommerce-loop-product__title, 
	.woocommerce ul.products li.product h3 							{ color: $primary-color; font-family: $secondary-font; font-size: 1.3em; font-weight: 700; padding: 5px 15px 15px 15px; margin: 0; }
	.woocommerce ul.products li.product .button.product_type_external	{ display: none; }

	/*.woocommerce ul.products li.product .woocommerce-price-suffix 	{ display: none; }*/

	.woocommerce ul.products li.product span.onsale 				,
	.woocommerce .product span.onsale 								{ position: absolute; z-index: 2; left: 0; top: 0; right: auto; margin: 0; padding: .5em; display: block; }
	.woocommerce span.onsale 										{ background-color: $primary-color; @include border-radius(0px); width: auto; height: auto; min-width: 0; min-height: 0; padding: 5px; line-height: 1; text-transform: uppercase; font-size: 1.2em; }


	/* add_to_cart buttons, loop, tease */
	.single-add-to-cart-button-container 							{ 
		@include media-from(s){
			form.cart 												{ float:left; }
			
		}
	}

	.woocommerce .product .added_to_cart							{ position: static; z-index: 3; color: #fff; background-color: $primary-color; display: inline-block; top:0; right:0; width: 100%; text-align: center; padding: 1em; margin-top: 1em; font-size: 13px; }


	/* PRICE, shop loop, single, tease */
	.woocommerce .single-product-details .price .woocommerce-Price-amount.amount 	,
	.woocommerce .shop-loop .tease .price .woocommerce-Price-amount.amount 			,
	.woocommerce ul.products li.product .price .woocommerce-Price-amount.amount 	{ opacity: 1; display: inline-block; font-weight: 700; font-size: 1.5em; color: $primary-color; }

	.woocommerce del, .woocommerce ins 								{ display: inline-block !important; }

	.woocommerce .single-product-details .price 					,
	.woocommerce .shop-loop .tease .price 							,
	.woocommerce ul.products li.product .price 						{ font-weight: 700; color: $primary-color; }

	.woocommerce .single-product-details .price del .woocommerce-Price-amount.amount 	{ opacity: .8; text-decoration: line-through; color: $default-text-color; font-size: 1em; font-weight: 400; margin-left: 5px; }
	.woocommerce .single-product-details .price ins .woocommerce-Price-amount.amount 	{ text-decoration: none; }
	.woocommerce .shop-loop .tease .price del .woocommerce-Price-amount.amount 			{ opacity: .8; text-decoration: line-through; color: $default-text-color; font-size: 1em; font-weight: 400; margin-left: 5px; }
	.woocommerce .shop-loop .tease .price ins .woocommerce-Price-amount.amount 			{ text-decoration: none; }
	.woocommerce ul.products li.product .price del .woocommerce-Price-amount.amount 	{ opacity: .8; text-decoration: line-through; color: $default-text-color; font-size: 1em; font-weight: 400; margin-left: 5px; }
	.woocommerce ul.products li.product .price ins .woocommerce-Price-amount.amount 	{ text-decoration: none; }

	.single-product-details .price 									{  }
	.single-product-details .price:after 							{ content:''; clear:both; display:table; }
	.shop-loop .tease .price 										,
	.woocommerce ul.products li.product .price 						{ margin: 0 0 15px; display: block; }


	/* aside / cart */
	.woocommerce-mini-cart__buttons.buttons 						{ margin-bottom: 0; }
	.woocommerce-mini-cart__buttons.buttons .button 				{ background-color: #3a3a3a; text-align: center; width: 100%; margin-right: 0; }
	.woocommerce-mini-cart__buttons.buttons .button:hover 			{ background-color: #3a3a3a; }
	.woocommerce-mini-cart__buttons.buttons .button.checkout 		{ background-color: $primary-color; }
	.woocommerce-mini-cart__buttons.buttons .button.checkout:hover 	{ background-color: $primary-color; }
	.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total { border-top: 1px solid $default-border-color; margin-top: .5em; padding-top: .5em; }
	.widget_shopping_cart_content  									{ padding: 20px; background-color: #fff; font-size: .8em; }

	.woocommerce .widget_shopping_cart .cart_list li a.remove, .woocommerce.widget_shopping_cart .cart_list li a.remove { top: 5px; }
	.woocommerce a.remove { font-size: 1.4em; }

	/* WC COMMON */
	.woocommerce table.shop_table 									{ @include border-radius(0px); }
	.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register { @include border-radius(0px); }
	/*.stock.in-stock 					 							{ color: #00ca2f; font-weight: 700; font-style: .9em; } 		*/
	/*.stock.out-of-stock 					 						{ color: #cd0808; font-weight: 700; font-style: .9em; } 		*/
	/*.stock.available-on-backorder 					 			{ color: #cd9d08; font-weight: 700; font-style: .9em; } 		*/

	.stock.in-stock 					 							{ display:block; font-size: .8em; padding: 3px 9px; background-color: #fcfcfc; color:#00ca2f;  border-left: 6px solid #00ca2f;  font-weight: 700; }
	.stock.out-of-stock 					 						{ display:block; font-size: .8em; padding: 3px 9px; background-color: #fcfcfc; color:#cd0808;  border-left: 6px solid #cd0808;  font-weight: 700; }
	.stock.available-on-backorder 					 				{ display:block; font-size: .8em; padding: 3px 9px; background-color: #fcfcfc; color:#cd9d08;  border-left: 6px solid #cd9d08;  font-weight: 700; }

	.product.upcoming_product .stock,
	.product.only_local .stock 										{ display: none; }

	.custom-stock.upcoming-product 					 				{ display:block; font-size: .8em; padding: 3px 9px; background-color: #fcfcfc; color:#cd9d08;  border-left: 6px solid #cd9d08;  font-weight: 700; }
	.custom-stock.only-local 					 					{ display:block; font-size: .8em; padding: 3px 9px; background-color: #fcfcfc; color:#cd9d08;  border-left: 6px solid #cd9d08;  font-weight: 700; }
	.custom-stock.pickup-only 					 					{ display:none; font-size: .8em; padding: 3px 9px; background-color: #fcfcfc; color:#cd9d08;  border-left: 6px solid #cd9d08;  font-weight: 700; }
	.product_shipping_class-nouto-myymalasta .custom-stock.pickup-only { display:block; }

	abbr[title] 													{ text-decoration: none; }
	mark 															{ background: transparent; /*display: inline-block;*/ color: inherit; }
	.woocommerce fieldset 											{ margin: 1em 0 1em 0; }

	/* Cart */
	.woocommerce table.cart td.actions .coupon 						{ font-size: .8em; }
	#add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text { padding: 6px 8px 6px 8px; }
	.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text { min-width: 0; width: 114px; }
	.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {  }
	#add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text {}

	.checkout_coupon {
		input[type="text"] 											{ margin-bottom: 0; }
		input[type="submit"] 										{ font-size: .8em; margin: 0; }
	}


	/* WC FORMS */
	.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea { @include border-radius(0px); }

	/* WC INFO banners */
	.woocommerce-info::before 										{ color: $primary-color; }
	.woocommerce-info 												{ border-top-color: $primary-color; }
	.woocommerce .woocommerce-message a.button						{ font-size: .8em; margin-bottom: 0; margin-right: 0; }
	.woocommerce .woocommerce-info a.button							{ font-size: .8em; margin-bottom: 0; margin-right: 0; }
	.woocommerce .woocommerce-error a.button						{ font-size: .8em; margin-bottom: 0; margin-right: 0; }


	/* --------------------------
	 *
	 * top cart
	 *
	** ----------------------- */

		$small_cart_height: 40px;
		.header_cart-container 										{ overflow: visible; position: relative; float:right; margin-left: 1em; }
		.no-js .header_cart-container:hover .header_cart-items 		{ display: block; }
		.header_cart-trigger 										{ 
			& .header_cart-link 										{ overflow: hidden; display: block; height: $small_cart_height; position: relative; padding: 0 ($small_cart_height + 15px) 0 15px; background-color: #fff; position: relative; border:1px solid #bebebe; line-height: ($small_cart_height - 1px); outline:none; font-size: 13px; color: #585858; }
			& .header_cart-link:before { content: '\e852'; font-family: "skeletor-fontello"; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-decoration: inherit; text-align: center; margin-right: 4px; }
			& .header_cart-link:after { height: $small_cart_height; width: $small_cart_height; padding: 0 0; outline:none; margin: 0; border:0; background-color: #fff; position: absolute; top:0; right:0; color: $primary-color; @include border-radius(0px); background-color: $primary-color; color: #fff; content: '\e899'; font-family: "skeletor-fontello"; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-decoration: inherit; text-align: center; }
		}
		.header_cart-items { display: none; position: absolute; top:100%; left:0; width: 100%; background-color: #fff; z-index: 18; }
		.header_cart-items .widget_shopping_cart { border:1px solid #bebebe; border-top:0; }
		.header_cart-items .widgettitle { display: none; }


	/* --------------------------
	 *
	 * button reset / button styles
	 * pitää olla tosi tarkkana kun näitä muuttelee
	 *
	** ----------------------- */

	.woocommerce {
		&{}

		button.button-alt.disabled,
		button.button.alt.disabled,
		button.button.alt:disabled,
		button.button.alt[disabled],
		button.button-alt:disabled,
		button.button-alt[disabled],
		button.alt:disabled,
		button.alt[disabled],
		button:disabled,
		button[disabled],
		button[type="submit"]:disabled,
		button[type="submit"][disabled],

		a.button-alt, 
		button.alt,
		button.button.alt,

		input.button-alt,
		input.button,

		#respond input#submit, 
		#respond input#submit.alt,  
		a.button, 
		a.button.alt.checkout-button,

		button.single_add_to_cart_button.button.alt, 
		button.button, 
		button, 
		.btn, 
		.link-button-alt,

		input[type="submit"], 
		button[type="submit"], 
		input[type="button"],
		.link-button												{ @include default-button-styles; }

		button.single_add_to_cart_button.button.alt:hover, 
		a.button:hover, 
		a.button-alt:hover, 
		a.button.alt.checkout-button:hover,
		input.button:hover,
		#respond input#submit.alt:hover,
		button.button:hover, 
		button.alt:hover, 

		input[type="button"]:hover,
		input.button-alt:hover, 	
		a.button-alt:hover, 
		button.button.alt:hover										{ @include default-button-styles-alt; }


		button.single_add_to_cart_button.button, 
		button.single_add_to_cart_button.button:hover, 
		#respond input#submit, 
		#respond input#submit:hover, 
		.submit-container input[type="button"],
		input[type="submit"], button[type="submit"], input[type="button"].cta,
		button.cta, .button.cta, .btn.cta, .link-button 				{ @include default-button-styles-cta; }

		/* wc-buttons :disabled :hover colors */
		button.button-alt.disabled,
		button.button.alt:disabled,
		button.button.alt[disabled],
		button.button-alt:disabled,
		button.button-alt[disabled],
		button.alt:disabled,
		button.alt[disabled],
		button:disabled,
		button[disabled],
		button[type="submit"]:disabled,
		button[type="submit"][disabled] 					{ opacity: .5; cursor:not-allowed; background-color: inherit; color: inherit; }

		button.button-alt.disabled:hover,
		button.button.alt:disabled:hover,
		button.button.alt[disabled]:hover,
		button.button-alt:disabled:hover,
		button.button-alt[disabled]:hover,
		button[type="submit"]:disabled:hover,
		button[type="submit"][disabled]:hover				{ opacity: .5; cursor:not-allowed; background-color: inherit; color: inherit; }

		@include media-from(l){ 
			button.button-alt:hover, 
			.button:hover, .button-alt:hover						{ opacity: .8; }
			.button[disabled]:hover, .button-alt[disabled]:hover	{ opacity: .5; }
			.button:disabled:hover, .button-alt:disabled:hover		{ opacity: .5; }
		}

	}

	/* --------------------------
	 *
	 * Woocommerce input styles
	 *
	** ----------------------- */

	.select2-container--default .select2-selection--single 			{ @include border-radius(0px); border: 1px solid $input-border-color; padding: .5em; height:auto; }
	.select2-container--default .select2-selection--single .select2-selection__arrow { top: 9px; right: 5px; }