@charset "UTF-8";

/**
 
	- Styles.scss [Main] -

	@style styles.scss
	@author Sitefactory

	Includes
	@import "_variables.scss";
	@import "../lib/owl-carousel/owl.carousel.scss";
	@import "_navigation.scss";
	@import "_searchform.scss";
	//@import "_respotable.scss";
	@import "_slides.scss";
	@import "_gallery.scss";
	@import "_woocommerce.scss";
	@import "_print.scss";

*/

/* --------------------------
 *
 * Imports
 *
** ----------------------- */

	/* Theme colours & Fonts */
	$default-text-color: #282828 !default;
	$primary-color: #0080ae !default;
	$secondary-color: #002039 !default;
	$background-color: #ffffff !default;
	$default-border-color: #bfbfbf !default;
	$input-border-color: #bfbfbf !default;

	/* Headings */
	$default-h1-color: $primary-color !default; 
	$default-h2-color: $secondary-color !default; 
	$default-h3-color: $primary-color !default; 
	$default-h4-color: $secondary-color !default; 
	$default-h5-color: $default-text-color !default; 
	$default-h6-color: $default-text-color !default; 

	$default-link-color: $primary-color !default; 

	$primary-font: Arial, sans-serif !default;
	$secondary-font: Arial, sans-serif !default;

	$content-default-padding-xs: 15px !default;
	$content-default-padding-s: 15px !default;
	$content-default-padding-m: 20px !default;
	$content-default-padding-l: 30px !default;
	$content-default-padding-xl: 40px !default;

	$mobile_fsz: 14 !default;
	$desktop_fsz: 16 !default;

	@import "_variables.scss";
	@import "../lib/owl-carousel/owl.carousel.scss";
	@import "_navigation.scss";
	@import "_searchform.scss";
	/*@import "_respotable.scss";*/
	@import "_slides.scss";
	@import "_gallery.scss";

/* --------------------------
 *
 * Structure
 *
** ----------------------- */
	
	body 															{ -webkit-font-smoothing: antialiased; font-size: $mobile_fsz+px; background-color: $background-color;
		@include media-from(l){ & 									{ font-size: $desktop_fsz+px; }	}
	}

	#page-top  														{ 
		.page-top-content-right 									{ margin: 0 0 0 auto; padding: 5px 0 5px 0; color: #c9c9c9; font-size: 14px; min-width: 100px; text-align: center; }
		.page-top-content-right a									{ color: $primary-color; }
		.page-top-content-right a.link-button						{ color: #fff; margin: 0; }
		.page-top-content-right a[class*="icon-"] 					{ color: #c9c9c9 }
		.page-top-content-right a[class*="icon-"]:before 			{ color: $primary-color; margin-right: 4px; margin-left: 5px; }
		.page-top-content-right span[class*="icon-"]:before 		{ color: $primary-color; margin-right: 4px; margin-left: 5px; }
		.page-top-content-right p									{ margin-bottom: 0; }
	 }

	header#header 													{  
		#logo 														{  }
		.header-left 												{ float:left; /* float fallback */ margin: 1.5em auto 1.5em 0; max-width: 40%; width: 200px; /* Leveys puolet @2x logon leveydestä */ }
		.header-middle 												{ float:left; /* float fallback */ margin: 1.5em auto 1.5em auto; p:last-child { margin-bottom: 0; } }
		.header-right 												{ float:right; /* float fallback */ margin: 1.5em 0 1.5em auto; p:last-child { margin-bottom: 0; } }
		.site-search 												{ float:right; margin-left: 1em; }
	}

	footer#footer 													{ 
		& 															{  }
		& .content-padding											{ padding: 2em 0; }
	 }

/* --------------------------
 *
 * Typografia
 *
** ----------------------- */

		html { font-family: $primary-font; line-height: 1.5em; }
		body { font-family: $primary-font; line-height: 1.5em; }
		input { font-family: $primary-font; line-height: 1.5em; }
		input[type="submit"] { font-family: $primary-font; line-height: 1.5em; }
		input[type="number"] { font-family: $primary-font; line-height: 1.5em; }
		input[type="button"] { font-family: $primary-font; line-height: 1.5em; }
		button { font-family: $primary-font; line-height: 1.5em; }
		.button { font-family: $primary-font; line-height: 1.5em; }
		.btn { font-family: $primary-font; line-height: 1.5em; }
		.link-button { font-family: $primary-font; line-height: 1.5em; }
		select { font-family: $primary-font; line-height: 1.5em; }
		textarea { font-family: $primary-font; line-height: 1.5em; }

		blockquote 													{ font-size: 1em; opacity: .85; margin: 2.4em; margin-right: .5em; font-style: italic; position: relative; }
		blockquote:before 											{ font-size: 3.6em; opacity: .75; content: "\201C"; display: block; position: absolute; left: -0.65em; top: -0.3em; line-height: 1; }
		@include media-from(m){ 
			 blockquote 											{ font-size: 1.15em; margin-right: 2.5em; }
		}

		h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6        { margin: 0 0 .7em 0; line-height: 1.2em; }
		p + h1 , p + h2, p + h3, p + h4, p + h5, p + h6				{ margin-top: 1.2em; }

		/* Mobiili otsikot */
		h1, .h1														{ font-size: em(26, $mobile_fsz); color: $default-h1-color; font-family: $secondary-font; }
		h2, .h2														{ font-size: em(22, $mobile_fsz); color: $default-h2-color; font-family: $secondary-font; }
		h3, .h3														{ font-size: em(18, $mobile_fsz); color: $default-h3-color; font-family: $secondary-font; }
		h4, .h4														{ font-size: em(16, $mobile_fsz); color: $default-h4-color; }
		h5, .h5														{ font-size: 1em; color: $default-h5-color; font-weight: 700; }
		h6, .h6														{ font-size: 1em; color: $default-h6-color; font-weight: 700; }

		h1 a, .h1 a,
		h2 a, .h2 a,
		h3 a, .h3 a,
		h4 a, .h4 a,
		h5 a, .h5 a,
		h6 a, .h6 a              									{ color: inherit; }

		a                											{ color: $default-link-color; -webkit-transition:all .3s; transition:all .3s; -webkit-transform: translate3d(0, 0, 0); transform : translate3d(0, 0, 0); }
		@include media-from(l){ 
			/* Desktop otsikot */
			h1, .h1													{ font-size: em(33, $desktop_fsz); }
			h2, .h2													{ font-size: em(24, $desktop_fsz); }
			h3, .h3													{ font-size: em(20, $desktop_fsz); }
			h4, .h4													{ font-size: em(20, $desktop_fsz); }
			h5, .h5													{ font-size: em(17, $desktop_fsz); }
			h6, .h6													{ font-size: em(17, $desktop_fsz); }

			a:hover                                 				{ opacity: .8; }
		}

		b, strong              										{  }

		.primary-font 												{ font-family: $primary-font; }
		.secondary-font 											{ font-family: $secondary-font; }

	.ingress 														{ font-size: 1.1em; font-weight: 300; line-height: 1.5; }

	/* white-bg */
		.white, .white-bg               							{ background-color: #fff; 
			h1, .h1, 
			h2, .h2,
			h3, .h3, 
			h4, .h4,
			h5, .h5,
			h6, .h6     											{  }
			a             											{  }
			a.link-button          									{  }
			hr             											{  }
			b             											,
			strong             										{ color: #111111 }
		}


	/* primary-bg */
		.primary-color 												{ color: $primary-color; }
		.primary-bg 												{ background-color: $primary-color; color: #fff; 
			h1, .h1, 
			h2, .h2,
			h3, .h3, 
			h4, .h4,
			h5, .h5,
			h6, .h6     											{ color: #fff; }
			a             											{ color: #fff; }
			a.link-button          									{ background-color: $secondary-color; color: #fff; }
			hr             											{  }
			b, strong             									{ color: #fff }
		}


	/* secondary-bg */
		.secondary-color 											{ color: $secondary-color; }
		.secondary-bg 												{ background-color: $secondary-color; color: #fff; 
			h1, .h1, 
			h2, .h2,
			h3, .h3, 
			h4, .h4,
			h5, .h5,
			h6, .h6     											{ color: #fff; }
			a             											{ color: #fff; }
			a.link-button          									{ background-color: $primary-color; color: #fff; }
			hr             											{  }
			b, strong             									{ color: #fff }
		}


/* --------------------------
 *
 * Front
 *
** ----------------------- */
	
	.home															{  }

/* --------------------------
 *
 * default
 *
** ----------------------- */

	#main-image-container 											{
		& 															{ text-align: center; }
	}

	#outer-content-area-container 									{ padding: 1em 0 0 0; }
	
	#main-content-area  											{
		&.content-padding 											{ padding: 1em 0; }
	}

	#sidebar 														{
		&.content-padding 											{ padding: 1em 0; }
	}

	.service-boxes {
		.services-lift-box-image-container 							{ height:150px; margin-bottom: 1em;
			@include media-from(s){	& 								{ height:200px; /* s */ }}
			@include media-from(m){	& 								{ height:250px; /* m */ }}
		 }
	}

/* --------------------------
 *
 *  Archive / pagination
 *
** ----------------------- */

	.tool-pagination 												{
		& 															{ line-height: 1.4; }
		ul.pages 													{ list-style: none; margin: 0; padding: 0; float:left; }
		ul.pages li 												{ float:left; padding: 0; display:block; margin: 0 5px 3px 0; }
		ul.pages li span.current 									{ background-color: $primary-color; color: #fff; }											
		a.pagination_arrow											{ float:left; }
		a.pagination_arrow.prev										{ margin: 0 4px 3px 0; }
		a.pagination_arrow.next										{ margin: 0 0 3px 0; }
		a.pagination_arrow											,
		ul.pages li span 											,											
		ul.pages li a												{ padding: 7px 8px; display:block; color: #fff; background-color: $secondary-color; font-weight: 700; }
	}

	.woocommerce nav.woocommerce-pagination {
		& 															{ line-height: 1.4; }
		ul.page-numbers 											{ list-style: none; margin: 0; padding: 0; float:left; border:0; }
		ul.page-numbers li 											{ float:left; padding: 0; display:block; margin: 0 5px 3px 0; border:0; }
		ul.page-numbers li span.current 							{ background-color: $primary-color; color: #fff; }											
		a.page-numbers												{ float:left; }
		a.page-numbers.prev											{ margin: 0 0 3px 0; }
		a.page-numbers.next											{ margin: 0 0 3px 0; }
		a.page-numbers 												,
		ul.page-numbers li span 									,											
		ul.page-numbers li a										{ padding: 7px 8px; display:block; color: #fff; background-color: $secondary-color; font-weight: 700; }
	}

/* --------------------------
 *
 * Common
 *
** ----------------------- */

	/* Input style reset */
	input[type="text"] { background: white; border: 1px solid $input-border-color; @include box-shadow(0px, 0px, 0px, #000); @include border-radius(0px); max-width: 100%; min-width: 50%; outline: none; padding: .4em; }
	input[type="password"] { background: white; border: 1px solid $input-border-color; @include box-shadow(0px, 0px, 0px, #000); @include border-radius(0px); max-width: 100%; min-width: 50%; outline: none; padding: .4em; }
	input[type="number"] { background: white; border: 1px solid $input-border-color; @include box-shadow(0px, 0px, 0px, #000); @include border-radius(0px); max-width: 100%; min-width: 50%; outline: none; padding: .4em; }
	input[type="email"] { background: white; border: 1px solid $input-border-color; @include box-shadow(0px, 0px, 0px, #000); @include border-radius(0px); max-width: 100%; min-width: 50%; outline: none; padding: .4em; }
	input[type="tel"] { background: white; border: 1px solid $input-border-color; @include box-shadow(0px, 0px, 0px, #000); @include border-radius(0px); max-width: 100%; min-width: 50%; outline: none; padding: .4em; }
	textarea 		 												{ background: white; border: 1px solid $input-border-color; @include box-shadow(0px, 0px, 0px, #000); @include border-radius(0px); max-width: 100%; min-width: 50%; outline: none; padding: .4em; }

	select 															{ border: 1px solid $input-border-color; max-width: 100%; min-width: 30%; padding: .5em; outline: none; }
	select:focus 													{ border: 1px solid $input-border-color; max-width: 100%; min-width: 30%; padding: .5em; outline: none; }

	iframe 															{ max-width: 100%; }
	div.wp-cation 													{ max-width: 100%; }

	.aligncenter													,
	.alignright														,
	.alignleft														,
	.floatleft														,
	.floatright														{ display: block; margin: 1em 0; }

	.from-s-align-left 												{ margin-right:auto; }
	.from-s-float-left 												{ float:left; }
	.from-s-align-right 											{ margin-left:auto; }
	.from-s-float-right 											{ float:left; }

	@include media-from(m){ 
		 .aligncenter												{ display: block; margin: 0 auto; }
		 .alignright												{ float: right; margin: 0 0 1em 1em; }
		 .alignleft													{ float: left; margin: 0 1em 1em 0; }
		 .floatleft													{ float: left; }
		 .floatright												{ float: right; }

		 .from-m-align-left 										{ margin-right:auto; }
		 .from-m-align-right 										{ margin-left:auto; }
		 .from-m-float-left 										{ float:left; }
		 .from-m-float-right 										{ float:right; }
	}

	@include media-from(l){ 
		 .from-l-align-left 										{ margin-right:auto; }
		 .from-l-align-right 										{ margin-left:auto; }
		 .from-l-float-left 										{ float:left; }
		 .from-l-float-right 										{ float:right; }
	}

	@include media-from(xl){ 
		 .from-xl-align-left 										{ margin-right:auto; }
		 .from-xl-align-right 										{ margin-left:auto; }
		 .from-xl-float-left 										{ float:left; }
		 .from-xl-float-right 										{ float:right; }
	}

	.content-padding 												{ padding: $content-default-padding-xs; }
	@include media-from(s){ 
		.content-padding 											{ padding: $content-default-padding-s; }
	}
	@include media-from(m){ 
		.content-padding 											{ padding: $content-default-padding-m; }
	}
	@include media-from(l){ 
		.content-padding 											{ padding: $content-default-padding-l; }
	}
	@include media-from(xl){ 
		.content-padding 											{ padding: $content-default-padding-xl; }
	}

	.display-table             										{ display:table; width: 100%; height: 100%; }
	.display-table .display-table-cell         						{ display:table-cell; width: 100%; height: 100%; }
	.display-table .display-table-cell.va-m       					{ vertical-align: middle; }

	.height-100 													{ height:100%; }

	.absolute-middle 												{ position: absolute; left:50%; top:50%; transform: translateX(-50%) translateY(-50%); }

	.bg-cover 														{ background-size: cover; background-position: center center }

	.border-top     												{ border-top:1px solid $default-border-color; }
	.border-right     												{ border-right:1px solid $default-border-color; }
	.border-bottom 													{ border-bottom:1px solid $default-border-color; }
	.border-left 													{ border-left:1px solid $default-border-color; }
	.no-border 														{ border:0; }

	/* FLEX */

	.flex 															{ display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
	.row.flex 														,
	.flex.flex-rows 												{ -webkit-flex-direction: row; flex-direction: row; }
	.flex.flex-columns 												{ -webkit-flex-direction: column; flex-direction: column; }
	.flex.flex-nowrap 												{ -webkit-flex-wrap: nowrap; flex-wrap: nowrap; }
	.flex.flex-middle 												{ -webkit-align-items: center; align-items: center; }
	.flex.flex-end 													{ -webkit-align-items: flex-end; align-items: flex-end; }
	.flex.flex-center 												{ -webkit-justify-content: center; justify-content: center; }
	.flex.flex-left 												{ -webkit-justify-content: left; justify-content: left; }
	.flex.flex-right 												{ -webkit-justify-content: right; justify-content: right; }
	.flex.flex-stretch 												{ -webkit-align-items: stretch; align-items: stretch; }
	.flex > .flex-grow 												{ -webkit-flex-grow: 1; flex-grow: 1; }
	.flex > .flex-nogrow 											{ -webkit-flex-grow: 0; flex-grow: 0; }
	.flex > .flex-shrink 											{ -webkit-flex-shrink: 1; flex-shrink: 1; }
	.flex > .flex-noshrink 											{ -webkit-flex-shrink: 0; flex-shrink: 0; }
	.flex-bottom 													{ align-self: flex-end; }
	.div-center 													{ margin: 0 auto }

	$narrow_wrapper: 920px !default;
	$wide_wrapper: 2000px !default;
	$wide_alt_wrapper: 1800px !default;
	/* SKELETOR VARIABLE $wrapper_px: 1220px; */
	/* SKELETOR VARIABLE $wrapper_padding_px: 20px; */

		.wrapper.overflowing 										{ overflow: visible; }
		.wrapper 													{ overflow: hidden; }
		.wrapper.no-padding											{ padding: 0; max-width: ($wrapper_px - $wrapper_padding_px*2); }

		.wrapper.narrow 											{ max-width: $narrow_wrapper; }
		.wrapper.narrow.no-padding									{ max-width: ($narrow_wrapper - $wrapper_padding_px*2); }

		.wrapper.wide 												{ max-width: $wide_wrapper; }
		.wrapper.wide.no-padding 									{ max-width: ($wide_wrapper - $wrapper_padding_px*2); }

		.wrapper.wide-alt											{ max-width: $wide_alt_wrapper; }
		.wrapper.wide-alt.no-padding  								{ max-width: ($wide_alt_wrapper - $wrapper_padding_px*2); }

/* --------------------------
 *
 * Wordpress related common
 *
** ----------------------- */
	
	.entry-date 													{ opacity: .8; font-size: .9em; }

	/* Archive pages & search list */
	.tease {
		&															{ margin-bottom: 1.5em; border-bottom: 1px solid $default-border-color; }
		h1, .h1														{ @extend .h2; }
	}

	.tease-reference {
		&															{ margin-bottom: 1.5em; border-bottom: 1px solid $default-border-color; }
		.tease-image 												{ min-height: auto; margin-top: 0; }
		.tease-content 												{ min-height: auto; }
		.content-padding 											{ padding-top: 0; padding-bottom: 0; }
	}

	@include media-from(xl){ 
		.reference-list{
			article.tease-reference:nth-child(even) .tease-image 		{ order:2; text-align: right; float:right; }
			article.tease-reference:nth-child(even) .content-padding 	{ padding-left: 0; }
			article.tease-reference:nth-child(odd) .content-padding 	{ padding-right: 0; }
		}
	}

	section .tease:last-child 										{ border-bottom:0; }

	.tag-list {
		&															{ padding: 0; }
		li 															{ display: inline-block; margin: 0 .5em .5em 0; padding: 0; }
		li a 														{ padding: .4em .6em; color: #fff; font-size: .8em; text-transform: uppercase; background: $secondary-color; @include border-radius(8px); display: inline-block; }
	}

	.staff-list .person 											{ padding: 1em 1em 0 1em; border: 1px solid $default-border-color; border-bottom: .5em solid $secondary-color; }
	.staff-list .person .person-title 								{ font-size: 1.2em; display: block; margin-bottom: .5em; }

	.post-thumbnail-container 										{ margin: 1em 0 2em 0; }
		.post-thumbnail-caption 									{ font-style: italic; opacity: .8; margin: .4em 0; }

	.sf_single-post-author 										{ & { border: 1px solid $default-border-color; border-left:0; border-right:0; padding: 2em 0; margin-bottom: 2em; margin-top: 2em; } 
		.sf_single-post-author-avatar 								{ margin-right: 1em; max-width: 30%; width: 180px; img { max-width: 100%; } }
		.sf_single-post-author-title 								{ margin-bottom: .5em; font-size: 1.2em; font-weight: 700; color: $secondary-color; }
		.sf_single-post-author-description 							{ font-size: .9em; p:last-child { margin-bottom:0; } }
	}

	/* Notice messages */
	.message-success, .message-error, .message-warning, .message-note, 
	.notice-message, .error-message, .success-message 				{ padding: 2em; margin-bottom: 2em; }

	.message-success, .success-message, .ninja-forms-success-msg 	{ background-color: #e9f9d2; border: 1px solid #688f30; border-left: 8px solid #688f30; color:#368b1c; }
	.message-error, .error-message, .ninja-forms-error-msg 		 	{ background-color: #f9eeee; border: 1px solid #861616; border-left: 8px solid #861616; color:#ab0000; }
	.message-warning 		 										{ background-color: #fff3d1; border: 1px solid #cab712; border-left: 8px solid #cab712; color:#7b7221; }
	.message-note, .notice-message									{ background-color: #f5f5f5; border: 1px solid #c1c1c1; /*border-left: 8px solid #9f9f9f;*/ }

	.password-required 												{ padding: 1em; text-align: left; background-color:#eee; background-image: url('../img/notice.png'); background-position: right center; background-size: contain; background-repeat: no-repeat; border:2px solid rgba(0,0,0,.3); @include box-shadow(1px, 1px, 10px, rgba(0,0,0,.3)); }
	.password-required-form-container 								{ padding: 1.5em 1em 1em 1em; text-align: left; background-color:#eee; background-image: url('../img/notice.png'); background-position: right center; background-size: contain; background-repeat: no-repeat; border:2px solid rgba(0,0,0,.3); @include box-shadow(1px, 1px, 10px, rgba(0,0,0,.3)); }
	.password-required-form-container input[type="password"] 		{ min-width: 100px; width: 200px; max-width: 50%; }

	@include media-from(m){ 
		.message-success, .message-error, .message-warning, .message-note, 
		.notice-message, .error-message, .success-message 			{ padding: 3em; }
	}


/* --------------------------
 *
 * Search
 *
** ----------------------- */

	body.search #main-content-area {
		.site-search 												{ width: 250px; max-width: 100%; margin: 1em auto 1em 0; }
		.tease-search 												{ margin-bottom: .5em; strong.search-title { font-size: 1.1em; } }
	}

/* --------------------------
 *
 * Comments
 *
** ----------------------- */

	#respond {
		& 															{ background-color: rgba(0,0,0,.02); padding: 1em; display: block; margin-bottom: 2em; }
		label 														{ display: block; width: 100%; }
		input[type="text"] 											{ display: block; width: 100%; }
		textarea 													{ display: block; width: 100%; min-width: 0; max-width: 100%; height: 130px; font-size: 15px; }

		@include media-from(m){
			label 													{ float:left; width: 200px; }
			input[type="text"] 										{ float:left; width: 50%; width: calc( 100% - 200px ); }
			textarea 												{ float:left; width: 50%; width: calc( 100% - 200px ); }
		}
		.comment-form-comment 								{ &:after { content:''; clear:both; display:table; } }
		.comment-form-author 								{ &:after { content:''; clear:both; display:table; } }
		.comment-form-email 								{ &:after { content:''; clear:both; display:table; } }
		.comment-form-url 									{ &:after { content:''; clear:both; display:table; } }
		.comment-form-cookies-consent 						{ &:after { content:''; clear:both; display:table; } label { width: calc(100% - 70px); float:right; } }

	}

	.sf_single-comments-container									{ margin-bottom: 3em; 
		ul.sf_single-comment-responses 								{ list-style: none; padding-left: 0; }
		ul.sf_single-comment-responses li 							{ padding: 8px; }
		ul.sf_single-comment-responses li:nth-child(even) 			{ background-color: rgba(0,0,0,.02); }
	}

/* --------------------------
 *
 * Some-widget -styles
 *
** ----------------------- */
	.some-widget-container 											{ display: inline-block; margin: 3px; vertical-align: top; }
	.some-widget-container .social-media-btn-container 				{ display: inline-block; font-size: 17px; }
	.some-widget-container .social-media-btn-container .social-media-btn-icon { display: inline-block; color: #fff; background-color: $secondary-color; width: 2em; line-height: 2em; height: 2em; @include border-radius(50%); text-align: center; }
	.some-widget-container .social-media-btn-container .social-media-btn-icon:before { margin: 0; }
	.some-widget-container:first-child 								{ margin-left: 0; }
	.some-widget-container:last-child 								{ margin-right: 0; }
	.some-widget-container .social-media-btn-container .social-media-btn-text { display: inline-block; color: $secondary-color; padding: 5px; font-weight: 700; font-size: .9em; }

/* --------------------------
 *
 * Ninja-forms
 *
** ----------------------- */

	.nf-field-container 											{ position: relative; }
	.nf-field-container .nf-error-msg.nf-error-required-error 		{ display: none; /* tekstit piiloo */ position: absolute; top:100%; font-size: .8em; }
	.nf-before-form-content 										{ margin-bottom: 1em; font-size: .8em; float:right; }

	.nf-form-wrap .nf-field-container .nf-field .field-wrap:not(.submit-wrap) .ninja-forms-field {-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
	.nf-form-wrap .nf-field-container .nf-field .field-wrap:not(.submit-wrap).nf-error .ninja-forms-field {border-color: #da1f19; outline: 0; -webkit-box-shadow: inset -1px 1px 2px rgba(255,0,0,.1), 0 0 8px rgba(255,0,0,.6); box-shadow: inset -1px 1px 2px rgba(255,0,0,.1), 0 0 8px rgba(255,0,0,.6);}

/* --------------------------
 *
 *	Media Queries 
 *
 *	 - Oletus on 320px
 *
** ----------------------- */

	/* 480 */
	@include media-from(s){ 
	}

	/* 568 */
	@include media-from(568px){ 
		 
	}

	/* 640 */
	@include media-from(640px){ 
		 
	}

	/* 768 */
	@include media-from(m){ 

	}

	/* 1024 */
	@include media-from(l){ 

	}

	/* 1220 */
	@include media-from(xl){ 

	}

	/* 1366 */
	@include media-from(1366px){ 
		 
	}

	/* 1440 */
	@include media-from(1440px){ 
		
	}

	/* 1600 */
	@include media-from(xxl){ 
		 
	}

	/* 1920 */
	@include media-from(1920px){ 
		 
	}

	/* 2560 */
	@include media-from(2560px){ 
		 
	}

/* --------------------------
 *
 *	Print
 *
** ----------------------- */

	@import "_print.scss";