{% extends 'base.twig' %}

{% block before_maincontentarea %}
    {% do action('woocommerce_before_main_content') %}
{% endblock %}

{% block content %}
	
	{{ fn('woocommerce_content') }}

{% endblock  %}

{% block after_maincontentarea %}
	{% do action('woocommerce_after_main_content') %}
{% endblock %}