{% extends "base.twig" %}

{% block after_header %}
{% endblock %}

{% block before_maincontentarea %}
   {% do action('woocommerce_before_main_content') %}
{% endblock %}

{% block content %}

    {% do action('woocommerce_before_single_product') %}

    <article itemscope itemtype="http://schema.org/Product" class="single-product-details {{ post.class }}">

    	<div class="row no-margin padding-gutter">
    		<div class="col-xs-24 col-m-10">
    			<div class="product-image-gallery-container relative">
			        {#% include "parts/page-thumbnail.twig" %#}
			        {% do action('woocommerce_before_single_product_summary') %}
    			</div>
    		</div>
    		<div class="col-xs-24 col-m-14">
		        <div class="summary entry-summary">
		         	{% do action('woocommerce_single_product_summary') %}
		        </div>
		        <meta itemprop="url" content="{{ post.link }}">
    		</div>
    		<div class="col-xs-24">
		        {% do action('woocommerce_after_single_product_summary') %}
	        	{#{ post.content }#}
    		</div>
    		<div class="col-xs-24">
		       	{% do action('woocommerce_single_product_after_content') %}
    		</div>
    	</div>
    	
    </article>

    {% do action('woocommerce_after_single_product') %}

{% endblock  %}

{% block after_maincontentarea %}
	{% do action('woocommerce_after_main_content') %}
{% endblock %}