<article {{ fn('post_class', ['tease tease-product', 'entry'] ) }}>

    {{ fn('timber_set_product', post) }}

    <a href="{{ post.link }}" class="woocommerce-loop-product__link {% if not post.thumbnail %}placeholder{% endif %}">
	    {% do action('woocommerce_before_shop_loop_item_title') %}
	    {% if post.title %}
	        <h2 class="woocommerce-loop-product__title">{{ post.title }}</h2>
	    {% else %}
	        <h2 class="woocommerce-loop-product__title">{{ fn('the_title') }}</h2>
	    {% endif %}
    </a>

    {% do action( 'woocommerce_after_shop_loop_item_title' ) %}
    {% do action( 'woocommerce_after_shop_loop_item' ) %}

</article>