<div class="fixed-menu">
	<a href="{{ site.url }}" class="fixed-logo" title="{{site.name}}">
		<img src="{{ theme.link }}/assets/img/logo.png" alt="{{site.name}}">
	</a>
	<a class="open-mobile-nav toggle-mobilenav icon-menu-after" href="#"></a>
</div>