<div id="mobilenav-dimmer"></div>
<nav id="mobilenav">
	<div class="mobilenav-wrapper">
		<div class="mobilenav-bg">
			<div id="mobilenav-top-container">
				<div class="clear">
					{# <div class="site-logo"><a href="{{ site.url }}"><img src="{{ theme.link }}/assets/img/logo.png" alt="{{site.name}}"></a></div> #}
					{#{ site.get_widgetarea('header-language-links') }#}

					<button class="mobilenav-close toggle-mobilenav">
						<span class="symbol-cancel"><span class="line-horizontal"></span><span class="line-vertical"></span></span>
					</button>
				</div>
				{#
				<div class="mobilenav-search-form">
					{{ site.searchform() }}
				</div>
				#}
			</div>
			<div id="mobilenav-mid-container" class="clear">
				<div class="contact">{{ site.get_widgetarea('mobilenav-top') }}</div>
			</div>
			<div class="mobilenav-inner">
				<nav class="clear">
					{{ menu_mobile }}
				</nav>
			</div>
			<div id="mobilenav-additional" class="clear">
				<div class="mobilenav-info">
					<div class="quick-links">
						{{ site.get_widgetarea('some') }}
						{{ site.get_widgetarea('mobilenav-bottom') }}
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
<div id="mobilenav-loader"></div>