<ul>
	{% for item in submenu.get_children %}
		<li class="level-{{item.level}}{{item.classes | join(' ')}}">
			<a href="{{item.get_link}}">{{item.title}}</a>
			{% if item.get_children %}
				<ul>
					{% for subitem in item.get_children %}
						<li class="level-{{subitem.level}}{{subitem.classes | join(' ')}}">
							<a href="{{subitem.get_link}}">{{subitem.title}}</a>
							<!-- TODO some super intelligent functions to handle subnavigation levels -->
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
</ul>